<% layout("/layouts/boilerplate.ejs") %>
<body>
  <h2>All Listings</h2>

  <div class="container-fluid row row-cols-lg-4 row-cols-md-3 row-cols-sm-1">
    <% for(let listing of allListings ) { %>
    <a style="text-decoration: none" href="/listings/<%= listing._id  %>">
      <div class="card col" style="width: 16rem">
        <img src="<%= listing.image %>" class="card-img-top" alt="..." />
        <div class="card-img-overlay"><h2><%= listing.title %></h2></div>
        <div class="card-body">
          <p class="card-text">
            <%= listing.title %> <br />

            Rs:<%= listing.price %>/Night
          </p>
        </div>
      </div>
    </a>

    <% } %>
  </div>
</body>
